body {
    font-family:Arial, Helvetica, sans-serif;
}
/*toolbar*/
.simtoolNavbar {
   max-width:720px;
   min-width:400px;
   margin:auto;
}
#input-text {
    
}
#submit_button {
    
}
/*main body*/
#results {
    max-width:720px;
    min-width:400px;
    margin:auto;
}

/*Item*/
.simtoolitemDiv {
/*    border:solid black 1px;*/
    margin-bottom:10px;
    overflow:hidden;
    padding:10px;
    box-sizing:border-box;
}
.simtoolDetailImg {
    float:left;
    clear:both;
    margin-right:10px;
    
}
.simtoolDetailDiv {
    /*max-width:430px;*/
    width:calc(100% - 110px);
    float:left;
}
.simtoolRating {

}
.simtoolLink {

}
.simtoolAuthors {

}
.simtoolSubseries {

}
.simtoolNotes {

}
.simtoolTags {

}
    