body {
    font-family:Arial, Helvetica, sans-serif;
    padding:0px;
    margin:0px;
    overflow:hidden;
    color:#404040;
}
/*toolbar*/
.simtoolNavbarContainer {
    background-color:rgb(245,245,245);
    border:1px solid rgb(200,200,200);
    box-sizing:border-box;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,.1);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,.1);
}
.simtoolNavbar {
   max-width:720px;
   min-width:468px;
   margin:auto;
   padding:10px;
}
#input-text {
    border:1px solid rgb(200,200,200);
    border-radius:3px;
    padding:5px;
    width:250px;
    float:left;
    margin:0 10px 10px 0;
}
#submit-button {
    padding:5px;
    border:1px solid rgb(200,200,200);
    border-radius:3px;
    background-color:rgb(245,245,245);
    float:left;
}
#submit-button:hover {		
    background-color:rgb(235,235,235);
    cursor:pointer;
}
#back-button, #forward-button {
    padding:5px;
    border:1px solid rgb(200,200,200);
    border-radius:3px;
    background-color:rgb(245,245,245);
    float:right;
    font-size:14px;
    margin-right:10px;
    /*padding:4px 4px 0px 4px;*/
    line-height:14px;
    font-size:21px;
    
    visibility:hidden;
}
#back-button:hover, #forward-button:hover {
    background-color:rgb(235,235,235);
    cursor:pointer;
}

/*main body*/
.simtoolResultsContainer {
    overflow:auto;
    height:calc(100vh - 47px);
    margin-top:47px;
    border-left:1px solid rgb(200,200,200);
    border-right:1px solid rgb(200,200,200);
    border-bottom:1px solid rgb(200,200,200);
    box-sizing:border-box;
}
#results {
    max-width:720px;
    min-width:400px;
    margin:auto;
        /*margin-top:50px;*/
}

/*Item*/
.simtoolitemDiv {
    margin:10px 10px;
    overflow:hidden;
    padding:10px;
    box-sizing:border-box;
    border:1px solid rgb(200,200,200);
    -moz-box-shadow: 1px 1px 4px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,.3);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.3);
}
.simtoolItemDiv-first {
    background-color:rgb(245,245,245);
    background-color:#FCFFDF;
    background-color:#FFF9C4;
    background-color:#FFF8E1;
    background-color:#FFFDE7;
    border:1px solid rgb(200,200,200);
    /*margin:0px;
    border:0px;*/
}
.simtoolDetailImg {
    float:left;
    clear:both;
    margin-right:10px;
    
}
.simtoolDetailDiv {
    width:calc(100% - 110px);
    float:left;
}
.simtoolLink-first { 
    color:#005999 !important;
    cursor:auto !important;
}
.simtoolLink {
    color:#005999;
    text-decoration:none;
    font-size:14px;
}
.simtoolLinkDiv { 
    font-size:14px;
}
.simtoolLink:hover{
    color:#3af;
    cursor:pointer;
}
.simtoolRating {
    font-size:14px;
    margin-bottom:2px;
}
.simtoolAuthors {
    font-size:14px;
}
.simtoolSubseries {
    font-size:14px;
}
.simtoolNotes {
    font-size:14px;
}
.simtoolTags {
    font-size:14px;
}
.simtoolSUNLink {
    font-size:18px;
    color:#005999;
    text-decoration:none;
}
.simtoolSUNLink:hover {  
    text-decoration:underline;
}